{% extends "navigation/template.html" %}

{% block page_content %}
<div class="thin-container">
{% from "macros/mirrors.html" import render_mirrors %}
{% from "macros/flo_button.html" import render_flo_button %}	

{% include 'macros/url_plank.html' %}

<div>
	<p class="lead" id="lesson-overview-p">{{flo.summary}}</p>
	
	{{ render_mirrors(mirrors) }}

	<h3>Activity</h3>
	<p>{{flo.activity}}</p>

	{% if flo.instructional_tips %}
	<h3>Teaching Strategy Tips</h3>
	<p>{{flo.instructional_tips}}</p>
	{% endif %}

	<hr>
	
	{% if flo.assessments %}
	<div class="panel panel-green">
		<div class="panel-heading">
			<h3>Assessment</h3>
		</div>
		<div class="panel-body">
			{% for assessment in flo.assessments %}

			{% if assessment.type == 'diagnostic' %}
			<h4>Diagnostic Assessment</h4>
			{% elif assessment.type == 'formative' %}
			<h4>Formative Assessment</h4>
			{% elif assessment.type == 'summative' %}
			<h4>Summative Assessment</h4>
			{% endif %}

			{% if assessment.label %}
			<h4>{{assessment.label}}</h4>
			{% endif %}
			{% if assessment.summary %}
			<p>{{assessment.summary}}</p>
			{% endif %}
			{% if assessment.text %}
			<p>{{assessment.text}}</p>
			{% endif %}

			{% endfor %}

		</div>
	</div>
	{% endif %}

	
	{% if flo.discussion %}
	<div class="panel panel-green">
		<div class="panel-heading">
			<h3>Discussion</h3>
		</div>
		<div class="panel-body">
			{{flo.discussion}}
		</div>
	</div>
	{% endif %}

	{% if flo.solution %}
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<h3>Solution</h3>
		</div>
		<div class="panel-body">
			{{flo.solution}}
		</div>
	</div>
	{% endif %}

	{% if flo.recommended_searches %}
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<h3>Recommended Web Searches</h3>
		</div>
		<div class="panel-body">
			{% for query in flo.recommended_searches %}
			<p><a href="https://duckduckgo.com/?q={{ query|urlencode }}">{{ query }}</a></p>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if flo.extra %}
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<h3>Extra Fun</h3>
		</div>
		<div class="panel-body">
			<p>{{flo.extra}}</p>
		</div>
	</div>
	{% endif %}

	{% if flo.troubleshooting %}
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<h3>Troubleshooting</h3>
		</div>
		<div class="panel-body">
			{% for item in flo.troubleshooting %}
			{% if item.label %}
			<h4>{{item.label}}</h4>
			{% endif %}
			<a href="mirror?uuid={{item.uuid}}">{{item.uuid}}</a>
			<h4>Problem</h4>
			<p>{{item.problem}}</p>
			<h4>Solution</h4>
			<p>{{item.solution}}</p>

			{% endfor %}
		</div>
	</div>
	{% endif %}

	<hr>
</div>

</div>
{% endblock %}
