{% extends "navigation/template.html" %}
{% block page_content %}
<div class="thin-container">
{% from "macros/mirrors.html" import render_mirrors %}
{% from "macros/flo_button.html" import render_flo_button %}
{{ render_mirrors(mirrors) }}

{% include 'macros/url_plank.html' %}

<div class="panel panel-green">
	<div class="panel-heading">
		<h3>Instructions</h3>
	</div>
	<div class="panel-body">
		{{flo.instructions}}
	</div>
</div>

<div class="panel panel-green">
	<div class="panel-heading">
		<h3>What to Submit</h3>
	</div>
	<div class="panel-body">
		{{flo.submission}}
	</div>
</div>

{% if flo.recommended_searches %}
<div class="panel panel-yellow">
	<div class="panel-heading">
		<h3>Recommended Web Searches</h3>
	</div>
		<div class="panel-body">
			{% for query in flo.recommended_searches %}
			<p><a href="https://duckduckgo.com/?q={{ query|urlencode }}">{{ query }}</a></p>
			{% endfor %}
		</div>
</div>
{% endif %}

{% if flo.extra %}
<div class="panel panel-yellow">
	<div class="panel-heading">
		<h3>Extra</h3>
	</div>
	<div class="panel-body">
		{{flo.extra}}
	</div>
</div>
{% endif %}

</div>
{% endblock %}
