{% extends "navigation/template.html" %}
{% block page_content %}
<div class="thin-container">
{% from "macros/mirrors.html" import render_mirrors %}
{% from "macros/flo_button.html" import render_flo_button %}

<div class="panel panel-green">
	<div class="panel-heading">
		<h3>Guide</h3>
	</div>
	<div class="panel-body">
		{{flo.guide}}
	</div>
</div>

{{ render_mirrors(mirrors) }}

<div class="panel panel-green">
	<div class="panel-heading">
		<h3>Prompts</h3>
	</div>
	<div class="panel-body">
		{{flo.prompts}}
	</div>
</div>

{% if flo.recommended_searches %}
<div class="panel panel-yellow">
	<div class="panel-heading">
		<h3>Recommended Web Searches</h3>
	</div>
		<div class="panel-body">
			{% for query in flo.recommended_searches %}
			<p><a href="https://duckduckgo.com/?q={{ query|urlencode }}">{{ query }}</a></p>
			{% endfor %}
		</div>
</div>
{% endif %}

{% include 'macros/url_plank.html' %}

</div>
{% endblock %}
