{% extends "navigation/template.html" %}
{% block page_content %}

<div class="purple-header">
    <div class="color-header-title">Mission</div>
    <p class="color-header-text">We help educators share and use free education data.</p>
</div>
    
<div class="static-plank-container very-thin-container">    
    <div class="plank text-center">
        <div class="plank-title">How is FLOcademy different?</div>
        <p class="information-plank-text">Educators have control. The goal of FLOcademy is not to control education data, but to help everyone share it. All the education data collected by FLOcademy is shared for free - learning resources, clicks, searches, and likes.</p>

        <div class="plank-title">Open Data</div>
        <p class="information-plank-text">All of FLOcademy's education data is free and open. Open data is digital data that is made available with the technical and legal characteristics necessary for it to be freely used, reused, and redistributed by anyone, anytime, anywhere.</p>
        
        <div class="plank-title">Organizations</div>
        <p class="information-plank-text">FLOcademy proudly supports the principles of the <a href="http://opendatacharter.net/">International Data Charter</a>. Data should be open by default, shared in a timely manner, accessible, and interoperable. It's time for for us to truly share education data.</p>

    </div>
</div>

<div class="green-header">
    <div class="color-header-title">How You Can Help</div>
    <div class="color-header-text small">
        <p>Send us an <a href="{{ url_for('views_blueprint.contact_page') }}">email</a>. Tell us who you are and how FLOcademy was useful to you. These stories really help us promote open data and potentially get more funding.</p>
        <p>Analyze <a href="{{ url_for('views_blueprint.data_page') }}">our education data</a> and share the results.</p>
    </div>
</div>

<div class="text-center">
    <img src="{{ url_for('static', filename = 'img/wizard/begging-512.png') }}">
</div>

{% endblock %}
