{% extends "navigation/template.html" %}
{% block page_content %}

<div class="purple-header">
    <div class="color-header-title">Contact Us</div>
    <div class="color-header-text">
        <p>Send us your feedback, questions, and suggestions.</p>
    </div>
</div>
    
<div class="static-plank-container very-thin-container">    
    <div class="plank text-center">
        <div class="plank-title">Email</div>
        <p class="information-plank-text">Stuart Spence - Founder</p>
        <img alt="email address picture to stop robots" style="width: 180px;" src="{{ url_for('static', filename = 'img/contact-email.png') }}"></li>
    </div>

    <div class="plank text-center">
        <div class="plank-title">Reddit</div>
        <p class="information-plank-text">Reddit is a social media and community website.</p>
        <p class="information-plank-text">Start a discussion on the <a href="https://reddit.com/r/flocademy">FLOcademy reddit group</a>.</p>
    </div>
</div>

{% endblock %}
