{% extends "navigation/template.html" %}
{% block page_content %}

<div class="purple-header">
    <div class="color-header-title">Data</div>
    <div class="color-header-text">
        <p>By downloading this data, you agree to our <a href="{{ url_for('views_blueprint.sharing_policy') }}">Sharing Policy</a>. This data is anonymous and you can't make any attempt to de-anonymize it.</p>
    </div>
</div>
    
<div class="static-plank-container very-thin-container">    
    <div class="plank text-center">

        <div class="open-data-item">
            <div class="plank-title">User Activity</div>
            <p class="plank-text">All the searches, favorites, answers, and navigation of users.</p>
            <p>This is mostly data from pilot testing in two high school classrooms over a few months.</p>
            <ul class="list-unstyled">
                <li><a href="{{ url_for('views_blueprint.open_data',filename='2016-user-activity.json') }}">2016 JSON</a> (login required)</li>
                <li><a href="{{ url_for('views_blueprint.open_data',filename='2016-user-activity.csv') }}">2016 CSV</a> (login required)</li>
            </ul>
        </div>       

        <div class="open-data-item">
            <div class="plank-title">Free Learning Objects</div>
            <p>All the resources, discussion ideas, tags (questions), videos, assignments, and more on FLOcademy.</p>
            <a href="{{ url_for('views_blueprint.open_data',filename='2017-flos.json') }}">2017 JSON</a> (login required)</p>
        </div> 
        
    </div>
</div>

{% endblock %}
