{% extends "navigation/template.html" %}
{% block page_content %}

<div class="container">

    <div class="prompt-container"></div>
    <div class="question-container"></div>
    <div class="look-down-prompt-container"></div>
    <div class="feed-container"></div>
    
    {% from "macros/question_plank.html" import get_question_plank_template %}
    {{ get_question_plank_template() }}
    
    {% from "macros/prompt_plank.html" import get_prompt_plank_template %}
    {{ get_prompt_plank_template() }}
    
    {% from "macros/plank.html" import get_plank_template %}
    {{ get_plank_template() }}

</div>

{% endblock %}