{% extends "navigation/template.html" %}
{% from "macros/search_bar.html" import render_search_bar %}

{% block page_content %}
	
	{% if not query or plank_data_jsons|length==0 %}
	<!-- no query or no results -->
	<div class="green-header">
		<div class="color-header-title">How Search Works</div>
        <div class="color-header-text small">
			<p>Looking for free learning resources? Your request is valuable so even if there are no results, it will be saved and shared with educators and data scientists. This helps everyone better understand what learners and educators want to find.</p>
		</div>
	</div>
	
	<div class="thin-container">
		{{ render_search_bar() }}
	</div>	
	{% endif %}
	
	{% if query %}
		{% if plank_data_jsons|length==0 %}
		<!-- query with no results -->
		<div class="thin-container">
			<div class="plank text-center">
				<div class="plank-title">No Results</div>
				<p class="information-plank-text">However, your request is valuable data. It will be saved and shared with educators and data scientists. Thanks for helping improve free education data!</p>
			</div>
		</div>
		{% else %}
		<!-- query with results -->
		<div class="green-header">
			<div class="color-header-title">{{ plank_data_jsons|length }} result{% if plank_data_jsons|length > 1 %}s{% endif %} for:</div>
			<p class="color-header-text small">{{ query }}</p>
		</div>
		
		<div class="thin-container">
			{% from "macros/plank.html" import get_plank_template %}
			<div class="static-plank-container">
				{{ get_plank_template() }}
			</div>
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>

{% endblock %}
