{% extends "templates/base.html" %}

{% block base_content %}
<div class="navigation-panel text-center">
	<a href="{{ url_for('views_blueprint.recommend_page') }}"><img class="flocademy-home-button" src="{{ url_for('static', filename = 'img/flocademy-256.png') }}"></a>	
	
	<a class="navigation-panel-tab {% if section == 'recommend' %}tab-selected{% endif %}" href="{{ url_for('views_blueprint.recommend_page') }}" section="search">
		<span class="icon ion-star"></span>
		<span class="tab-text">Recommend</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'search' %}tab-selected{% endif %}" href="{{ url_for('views_blueprint.search_page') }}" section="search">
		<span class="icon ion-search"></span>
		<span class="tab-text">Search</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'data' %}tab-selected{% endif %}" href="{{ url_for('views_blueprint.data_page') }}" section="data">
		<span class="icon ion-stats-bars"></span>
		<span class="tab-text">Data</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'about' %}tab-selected{% endif %}" href="{{ url_for('views_blueprint.about_page') }}" section="about">
		<span class="icon ion-information"></span>
		<span class="tab-text">About</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'contact' %}tab-selected{% endif %}" href="{{ url_for('views_blueprint.contact_page') }}" section="contact">
		<span class="icon ion-email"></span>
		<span class="tab-text">Contact</span>
	</a>
</div>

{% block page_content %}{% endblock %}

{% endblock %}
