{% extends "user/template.html" %}
{% block user_content %}

{% from "macros/form.html" import render_field %}
<div id="user-settings-container" class="user-settings-container">
    <form method="POST" action="{{ url_for('views_blueprint.set_user_settings') }}">
        {{ user_settings_form.hidden_tag() }}
        <table>
            <tr>
                <td class="table-cell-small"><img src="{{ gravatar_url }}120"></td>
                <td class="table-cell-small"><p>To change your picture, visit <a href="http://www.gravatar.com">Gravatar</a>. You'll also need to set your email here.</p></td>
            </tr>
            <tr>
                <td class="table-cell-small"><h4>Username:</h4></td>
                <td class="table-cell-small"><p>{{ current_user.username }}</p></td>
            </tr>
            <tr>
                <td class="table-cell-small"><h4>Password:</h4></td>
                <td class="table-cell-small">
                    <div class="button change-password-modal-summoner">Change password</div>
                </td>
            </tr>
            <tr>
                <td class="table-cell-small"><h4>Display name:</h4></td>
                <td class="table-cell-small">{{ render_field(user_settings_form.display_name) }}</td>
            </tr>
            <tr>
                <td class="table-cell-small">
                    <span class="h4">Email:</span>
                    
                    <!-- 
                    {% if is_email_verified %}
                    <span class="verified-email-label">(verified)</span>
                    {% else %}
                    <span class="verified-email-label">(unverified)</span>                    
                    <div class="smallprint">
                        <a href="{{ url_for('views_blueprint.verify_email') }}">Click here to verify your email.</a>
                    </div>
                    {% endif %}
                    -->
                    
                </td>
                <td class="table-cell-small">{{ render_field(user_settings_form.email) }}</td>
            </tr>
        </table>
        <div id="submit" class="button user-settings-button">Save changes</div>
    </form>
</div>


{% endblock %}
