{% extends "user/template.html" %}
{% block user_content %}

<div class="groups-container">
    <div class="left-groups-column">
        <div class="plank">
            <div class="groups-header">Groups</div>
            {% if group_panels %}
            {% for group_panel in group_panels %}
                <a href="/user/{{ username }}/groups?index={{ loop.index0 }}" group_id="{{ group_panel.group_id }}" class="group-name {% if selected_group_index == loop.index0 %}selected{% endif %}" style="border-color: #{{ group_panel.color }}">
                    {{ group_panel.name }}
                </a>
            {% endfor %}
            {% else %}
            <p>No groups yet.</p>
            {% endif %}
            <div class="button create-group-modal-summoner">Create Group</div>
            <div class="button join-group-modal-summoner">Join Group</div>
        </div>
    </div>
    
    {% if group_panels %}
    <div class="right-groups-column">
        {% if permissions.write %}
        <div class="plank">
            <div class="plank-link-top-right delete-group-inline-menu"></div>
            <div class="groups-header">{{ group_panels[selected_group_index].name }}</div>
            
            <table>
                <tr>
                    <td class="group-lock-cell">
                    <span class="group-lock-icon icon ion-android-unlock simple-tooltip">
                            <span class="simple-tooltip-text">Click here to lock the group. Nobody can join a locked group.</span>
                    </span>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class="table-cell-tiny">
                                    <h4>Join code:</h4>
                                </td>
                                <td>
                                    <h4 class="join-code-text"></h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Join link:</h4>
                                </td>
                                <td>
                                    <h4 class="join-code-link"></h4>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
        
        <div class="plank plank-inner">
            <div class="text-center">
                <span class="groups-header">Members</span>
                <span class="smallprint" style="padding: 2px 0 0 10px;">
                    ({{ member_panels|length }})
                </span>
            </div>
            <div class="plank-link-top-right leave-group-inline-menu"></div>
            
            {% if not member_panels %}
            <p>No members yet.</p>
            {% endif %}
            {% for member in member_panels %}
            <div class="group-member-panel" username="{{ member.username }}">
                <div class="group-member-left">
                    <img src="{{ member.gravatar_url }}70">
                </div>
                
                <div class="group-member-center">
                    
                    <div>
                        <span class="groups-header">{{ member.display_name }}</span>                        
                        <div>
                            <span class="smallprint"><a href="/user/{{ member.username }}">{{ member.username }}</a> ({{ member.role }})</span>
                        </div>
                        {% if permissions.write %}
                        <div class="smallprint manage-member-inline-menus"></div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="group-member-right">
                    <span class="group-member-cell">
                        <span class="icon ion-help-circled"></span>
                        <span class="tab-text">{{ member.counters.questions }}</span>
                    </span>
                    <span class="group-member-cell">
                        <span class="icon ion-android-radio-button-off"></span>
                        <span class="tab-text">{{ member.counters.in_progress }}</span>
                    </span>
                    <span class="group-member-cell">
                        <span class="icon ion-android-checkmark-circle"></span>
                        <span class="tab-text">{{ member.counters.completed }}</span>
                    </span>
                    <span class="group-member-cell">
                        <span class="icon ion-android-favorite"></span>
                        <span class="tab-text">{{ member.counters.favorites }}</span>
                    </span>
                </div>
                
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

