{% extends "user/template.html" %}
{% block user_content %}
<div class="static-plank-container thin-container">
</div>

{% from "macros/plank.html" import get_plank_template %}
{{ get_plank_template() }}

<script src="{{ url_for('static', filename = 'js/user.js') }}"></script>
{% endblock %}
