{% extends "user/template.html" %}
{% block user_content %}


{% if question_plank_jsons %}
<div class="question-page-container">
    <div class="question-tag-container">
    </div>
    
    <div class="right-questions-column user-question-container thin-container">        
    </div>
</div>


<!-- invisible question tag template -->
<div id="question-tag-template" class="question-tag template question-tag-plank">
    <span class="question-tag-left">
        <div class="question-tag-title"></div>
        <div class="smallprint question-tag-subtitle"></div>
    </span>    
    <span class="question-tag-right">
        <div class="question-tag-prompt"></div>
        <div class="question-tag-answer"></div>
    </span>
</div>
{% else %}
<div style="text-align: center;">You haven't answered any questions yet.</div>
{% endif %}

{% from "macros/question_plank.html" import get_question_plank_template %}
{{ get_question_plank_template() }}

{% endblock %}
