{% extends "templates/base.html" %}

{% block base_content %}

<div class="navigation-panel text-center">
	<a href="/home"><img class="flocademy-home-button" src="{{ url_for('static', filename = 'img/flocademy-256.png') }}"></a>	
	
	<a class="navigation-panel-tab" href="/home">
		<span class="icon ion-home"></span>
		<span class="tab-text">Home</span>
	</a>	
	<a class="navigation-panel-tab {% if section == 'account' %}tab-selected{% endif %}" href="/user/{{ username }}/account" section="account">
		<span class="icon ion-person"></span>
		<span class="tab-text">Account</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'groups' %}tab-selected{% endif %}" href="/user/{{ username }}/groups" section="groups">
		<span class="icon ion-person-stalker"></span>
		<span class="tab-text">Groups</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'questions' %}tab-selected{% endif %}" href="/user/{{ username }}/questions" section="questions">
		<span class="icon ion-help-circled"></span>
		<span class="tab-text">Questions</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'in_progress' %}tab-selected{% endif %}" href="/user/{{ username }}/in_progress" section="in_progress">
		<span class="icon ion-android-radio-button-off"></span>
		<span class="tab-text">In Progress</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'completed' %}tab-selected{% endif %}" href="/user/{{ username }}/completed" section="completed">
		<span class="icon ion-android-checkmark-circle"></span>
		<span class="tab-text">Completed</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'favorites' %}tab-selected{% endif %}" href="/user/{{ username }}/favorites" section="favorites">
		<span class="icon ion-android-favorite"></span>
		<span class="tab-text">Favorites</span>
	</a>
	<a class="navigation-panel-tab {% if section == 'hidden' %}tab-selected{% endif %}" href="/user/{{ username }}/hidden" section="hidden">
		<span class="icon ion-eye-disabled"></span>
		<span class="tab-text">Hidden</span>
	</a>
</div>

{% block user_content %}{% endblock %}

{% endblock %}
