{% extends "user/template.html" %}
{% block user_content %}

<div class="modal-content plank text-center">
    {% if success %}
    <h4>Your email has been confirmed!</h4>
    <p><a href="{{ url_for('views_blueprint.recommend_page') }}">Return to FLOcademy</a>.</p>
    {% else %}
    <h4>Hmmmm...</h4>
    <p>Your email confirmation failed. Maybe you can <a href="{{ url_for('views_blueprint.verify_email') }}">try again</a>?</p>
    {% endif %}    
</div>

{% endblock %}