{% extends "user/template.html" %}
{% block user_content %}

<div class="modal-content plank text-center">
    <p style="color: #CC2222;">Note: the website is currently in beta and no email will actually be sent. Be patient!</p>
    <h4>A verification email will be sent to:</h4>
    <h4>{{ email }}</h4>
    <p>If you've waited a few minutes and there's still no email, check your spam folder. Or you can <a href="{{ url_for('views_blueprint.verify_email') }}">try again</a>.</p>
</div>

{% endblock %}