/*
Thank you to www.cinesift.com for inspiring a lot of my CSS design.
Meticulously reverse engineering their nice looking website taught me a lot about CSS.
-Stuart Spence 2016
*/

.img-center {margin:0 auto;}

.set-tag-vote {width: 50px;}
.set-tag-weight {width: 50px;}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F7F7F7;
}

html {
    /* this prevents the appearance of the vscroll offsetting the entire page left/right slightly */
    overflow-y: scroll;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

tbody > tr > th, tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
}

p {
    margin: 0 0 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    -ms-touch-action: manipulation;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, .h4 {
    font-size: 18px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd {
    margin-left: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

div.wizard-error-page {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.prompt-plank-wizard {
    width: 200px;
    position: absolute;
    right: 0;
}

.prompt-plank-wizard > img {
    width: 100%;
}

div.social-media-buttons {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-center {
    margin: 0 auto;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.column-15p {
    width: 15%;
    float: left;
}

.column-50p {
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

.container:before, .container:after, .row:before, .row:after{
    display: table;
    content: " ";
}

.container:after, .row:after {
    clear: both;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-green {
    border-color: #4F9F64;
}

.panel-yellow {
    border-color: #A1A838;
}

.panel-yellow > .panel-heading {
    color: #fff;
    background-color: #A1A838;
    border-color: #A1A838;
}

.panel-green > .panel-heading {
    color: #fff;
    background-color: #4F9F64;
    border-color: #4F9F64;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body,
.mirror-panel-body {
    padding: 15px;
    overflow: auto;
}

.text-center {
    text-align: center;
}

.template {
    display: none;
}

.flocademy-banner {
    width: 512px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-register-navigation-buttons {
    position: relative;
    float: right;
    z-index: 1;
}

/*FOOTER
The chosen method is to wrap everything on the page in .not-footer, except .footer.
Then set a minimum height, and .footer-push does the padding if necessary.
*/
html, body {
    height: 100%;
    margin: 0;
}

.not-footer {
    min-height: 100%;
    margin-bottom: -220px;
}

.footer-push, .footer {
    height: 220px;
}

.footer-left {
    position: relative;
    width: 200px;
    float: left;
    padding-right: 20px;
}

.footer-right {
    position: relative;
    width: 100px;
    float: right;
    text-align: right;
    padding-left: 20px;
    padding-top:20px;
}

.footer-logo {
    width: 128px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer {
    color: black;
    background-color: #E7E7E7;
    font-size: 18px;
    
    border: solid;
    border-width: 1px;
    border-color: #D7D7D7;
    
    margin-bottom: -220px;
    width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.search-bar {
    position:relative;
    display:inline-block;
    width:100%;
    margin-top:20px;
}

.search-bar-span {
    cursor:pointer;
    margin-left:5px;
    color:#455f70;
    position:absolute;
    top:0px;
    right:10px;
    font-size:25px;
}

.prompt {
    font-size: 25px;
}

.smallprint {
    font-size: 12px;
}

.question-left {
    position: relative;
    width: 119px;
    float: left;
    margin-right: 20px;
}

.question-center {
    width: 95%;
    padding-left: 120px;
}

.question-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

.answer {
    cursor:pointer;
    position:relative;
    width:70%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
}

.answer:hover, .answer-selected {
    border-radius: 5px;
    background-color: #4F9F64;
    color: white;
}

.answer-text {
    position: relative;
    left: 30px;
    width: 90%;
}

.answer-icon {
    cursor:pointer;
    margin-left:5px;
    margin-top: auto;
    margin-bottom: auto;
    color:#455f70;
    position:absolute;
    font-size:20px;
}

.thin-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.very-thin-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.user-settings-container {
    width: 500px;
    margin: 50px auto 50px auto;
}

.table-cell-small {
    width: 300px;
}

.table-cell-tiny {
    width: 120px;
}

.flo-button {
    width: 50px;
}

.plank {
    border: 1px solid lightslategrey;
    background-color: white;
    border-radius: 5px;
    margin: 20px auto 20px auto;
    width: 100%;
    padding: 20px;
    position: relative;
}

.green-header {
    margin: auto;
    width: 100%;
    background-color: #2A7F40;
    text-align: center;
}

.purple-header {
    margin: auto;
    width: 100%;
    background-color: #8E2F5C;
    text-align: center;
}

.color-header-title {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.color-header-text {
    margin:auto;
    font-size: 24px;
    padding-bottom:40px;
    width: 300px;
    color: white;
}

.color-header-text.small {
    font-size: 18px;
    padding-bottom:20px;
}

.green-header > .color-header-text > p > a {
    color: #D58DAF;
}

.purple-header > .color-header-text > p > a {
    color: #F6FCA7;
}

.green-header > .color-header-text > p > a:hover,
.green-header > .color-header-text > p > a:focus {
  color: #8E2F5C;
}

.purple-header > .color-header-text > p > a:hover,
.purple-header > .color-header-text > p > a:focus {
  color: #A1A838;
}

.color-header-text > p > a {
  text-decoration: none;
  cursor: pointer;
}
.color-header-text > p > a:hover {
  text-decoration: underline;
}

.information-plank-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hidden-plank-text {
    text-align: center;
    font-size: 12px;
    margin: 0;
}

.hidden-plank-text > a {
    cursor: pointer;
}

.mirror-left {
    width: 500px;
    height:130px;
    float: left;
}

.mirror-right {
    width: 120px;
    float: right;
}

.plank-thumbnail {
    margin-top: 20px;
    text-align: center;
}

.plank-title {
    font-size: 25px;
}

.plank-inner {
    overflow: hidden;
}

.plank-left {
    position: relative;
    width: 190px;
    height: 255px;
    float: left;
    margin-right: 20px;
}

.plank-center {
    float: left;
    width: 45%;
    overflow: auto;
    margin-right: 20px;
}

.plank-right {
    float: right;
    width: 140px;
    margin-right: 20px;
    overflow: hidden;
}

.plank-tag-bar {
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 5px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.plank-tag-fill {
    min-width: 0px;
    transition: none;
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #4F9F64;
    }
    
.plank-tag-rfill {
    right: 0px;
    background-color: #B15882;
}

.plank-button {
    position: absolute !important;
    background-color: #2A7F40;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45px;
    right: -45px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    padding-right: 2px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    font-size: 24px;
}

.plank-button:hover {
    background-color: #106025;
}

.plank-button-0 {
    top: 10px;
}

.plank-button-1 {
    top: 70px;
}

.plank-button-2 {
    top: 130px;
}
    
.plank-button-3 {
    top: 190px;
}

.plank-button-on {
    background-color: #A1A838;
    color: black;
}

.plank-button-on:hover {
    background-color: #787F15;
    color: black;
}

.star-icon{
    cursor: pointer;
    font-size: 30px;
    position: relative;
    margin-left: -10px;
    left: 5px;
    }

.star-panel{
    font-size: 40px;
    width: 118px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

.star-text{
    font-size: 12px;
    position: relative;
    top: -10px;
}

.navigation-panel {        
    color: black;
    background-color: #E7E7E7;
    font-size: 20px;
    width: 100%;
    position:relative;
    
    border: solid;
    border-width: 1px;
    border-color: #D7D7D7;
}

.navigation-panel-tab {    
    padding: 5px;
    top: 6px;
    color: #333;
    margin: 5px;
    white-space: nowrap;
    
    border: solid transparent;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
}

.tab-selected {
    background-color: #F7F7F7;
    border-color: #8E2F5C #D7D7D7 transparent;
}

.navigation-panel-tab:hover {
    color: black;
    text-decoration: inherit;
}

.tab-text {
    font-size: 16px;
}

.question-page-container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.question-tag-container {
    width: 333px;
    float: left;
    overflow-y: scroll;
    border: 1px solid lightslategrey;
    border-radius: 2px;
    background: #DDDDDD;
}

.question-tag-plank:not(.template) {
    cursor:pointer;
    display: inline-block;
    border: 1px solid lightslategrey;
    background-color: white;
    border-radius: 2px;
    margin: 4px 8px 0px 8px;
    width: 300px;
    padding: 2px;
    position: relative;
}

.question-tag-plank:not(.template):hover {
    background-color: #2A7F40;
}

.question-tag-title {
    font-size: 16px;
}

.question-tag-left {
    display: inline-block;
    margin: 4px 4px 4px 8px;
    float: left;
    width:120px;
}

.question-tag-right {
    float: right;
    font-size: 10px;
    margin: 4px;
    text-align: center;
    width:154px;
}

.question-tag-answer {
    margin: 1px;
    padding: 2px;
    border-radius: 1px;
    background-color: #4F9F64;
    color: white;
    margin-left: auto;
    margin-right: auto;
    
}

.g-recaptcha {
    margin-bottom: 10px;
}

.json-container {
    overflow-x: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 60px;
    width: 800px;
    overflow: hidden;
}

.modal-close-x {
    color: #aaa;
    top: 5px;
    right: 15px;
    position: absolute;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

input {
    padding: 6px 12px;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 100%;
}

.bad-input {
    border-color: #FF0000;
}

.form-error-text{
    font-size: 12px;
}

.input-group {
    margin-bottom: 10px;
    width: 100%;
}

.prompt-subtitle {
    width:400px;
    margin: auto;
}

.prompt-button {
    margin: 20px auto 20px auto;
}

.plank-prompt{
    font-size: 20px;
    margin: 30px 0 50px;
    text-align: center;
}

.modal-close-x:hover,
.modal-close-x:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bisected-plank-left{
    width: 50%;
    padding-right: 60px;
}

.bisected-plank-right{
    width: 50%;
    padding-left: 60px;
}

.bisected-plank-left{
    float:left;
}

.bisected-plank-right{
    float:right;
}

.button {
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #2A7F40;
    border-bottom: 2px solid #106025;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 4px 12px 4px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.button.change-password-modal-summoner{
    margin-left: inherit;
}

.button.user-settings-button{
    margin-top: 30px;
    margin-down: 50px;
}

.button:hover {
    background-color: #106025;
    cursor: pointer;
}

.more-feed-button {
    font-size: 18px;
    color: #337ab7;
    cursor: pointer;
    float: left right;
    text-align: center;
    margin: 0 40% 0 40%;
}

.simple-tooltip {
    position: relative;
}

.simple-tooltip .simple-tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 18px;

    position: absolute;
    z-index: 1;    
    top: -5px;
    left: -260px;
}

.simple-tooltip:hover .simple-tooltip-text {
    visibility: visible;
}

.flocademy-home-button {
    display: none;
}

.groups-container {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.groups-header {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.plank-link-top-right {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
}

.left-groups-column {
    width: 250px;
    float: left;
    margin-right: 20px;
}

.right-groups-column {
    width: 780px;
    float: right;
}

.right-questions-column {
    float: right;
}

.group-name {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
    margin: 5px 0 5px 0;
    cursor: pointer;
    display: block;
    color: black;
}

.group-name:hover, .group-name.selected {
    border: 3px solid;
    padding: 3px 3px 3px 8px;
    margin: 5px 0 5px 0;
    text-decoration: none;
    color: black;
}

.group-lock-cell {
    width: 100px;
    font-size: 60px;
    text-align: center;
}

.group-locked-text {
    color: #777777;
}

.group-member-panel {
    width: 100%;
    overflow: overlay;
}

.group-member-left {
    position: relative;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}

.group-member-center {
    float: left;
    width: 364px;
    overflow: auto;
    margin-right: 20px;
}

.group-member-right {
    float: right;
    width: auto;
    overflow: hidden;
    margin-top: 12px;
}

.group-member-cell {
    width: 60px;
    margin: 3px;
    float: left;
    font-size:20px;
}

@media only screen and (min-width:768px){
    .footer-left {
        width: 400px;
    }
    
    .footer-right {
        width: 260px;
    }
    
    .login-register-navigation-buttons {
        font-size: 18px;
    }
    
    .thin-container {
        width: 800px;
    }
    
    .very-thin-container {
        width: 600px;
    }
    
    .color-header-text {
        width: 600px;
    }

    .navigation-panel {
        height: 50px;
    }
    
    .navigation-panel-tab {
        position: relative;
    }
    
    .flocademy-home-button {
        display: inherit;
        width: 146px;
        padding: 18px 5px 5px 15px;
    }
    
    .simple-tooltip .simple-tooltip-text {
        left: 130%;
    }
}