{% extends "templates/admin.html" %}

{% block admin_content %}

<div class="container">
	<h2>All FLOs</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>FLO</th>
				<th>UUID</th>
				<th>Schema Label</th>
				<th>Schema UUID</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for flo in flos %}
			<tr>
				<td><a href="/flo?uuid={{ flo.uuid }}">{{ flo.title }}</a></td>
				<td><a href="/api/flo?uuid={{ flo.uuid }}">{{ flo.uuid }}</a></td>
				<td>{{ flo.schema_title }}</td>
				<td><a href="/api/flo?uuid={{ flo.schema_uuid }}">{{ flo.schema_uuid }}</a></td>
				<td><a class="btn btn-primary btn-sm" href="/admin/submit_flo?uuid={{ flo.schema_uuid }}">New</a>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
