<!--
	all of this is a hack to get the submit FLO form visually usable. kills all my css, replace with all this.
	from this page:
	https://rawgit.com/jdorn/json-editor/master/examples/css_integration.html
-->
<script src="http://code.jquery.com/jquery-latest.js">;</script>
<script src="{{url_for('static', filename='js/jsoneditor.js')}}"></script>
<script src="{{url_for('static', filename='js/utilities.js')}}"></script>
<link rel='stylesheet' href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
<script>
JSONEditor.defaults.theme = 'foundation5';
JSONEditor.defaults.iconlib = 'fontawesome4';

//from base.html
SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<div class="row">

	<br><br>
	<h3>{{ title }}</h3>
	
	{% if schema_string %}
	
    	<div id='editor_holder'></div>
    	<button id='submit'>Submit</button>
    	
    	<script>
"use strict";

var starting_value = { schema_uuid: "{{ uuid }}" };
var editor = new JSONEditor(document.getElementById('editor_holder'),{
	schema: {{ schema_string | safe }},
	starval: starting_value
});

$('#submit').bind('click',function() {
	//write_json_file is a debug option that writes .json files upon submit
	var formValues=editor.getValue();
	formValues.schema_uuid=getURLParameter('uuid');
	var post_data={json_string: JSON.stringify(formValues), write_json_file: "1"};
	jQuery.post(SCRIPT_ROOT+"/api/admin/submit_flo", post_data, function (response_data){
		if (response_data.status == 200){
			window.location.href=SCRIPT_ROOT+"/flo?uuid="+response_data.new_uuid;
		}else{
			console.error("submit flo got a weird response after post. data = '"+JSON.stringify(response_data)+"'");
		}
	});
});
    	</script>
	
	{% endif %}

</div>

	

