{% extends "templates/admin.html" %}


{% block admin_content %}

<script src="{{ url_for('static', filename = 'js/admin.js') }}"></script>

<div class="container">
	<h3>Set Tag Weights</h3>
	<div class="row">		
		{% for tag in tags %}
		<div class="column-15p">
			<a class="tag-title" href="/flo?uuid={{ tag.uuid }}">{{ tag.title }}</a>
			<p>type: {{ tag.subtitle }}</p>
			<input type="text" class="input-sm set-tag-weight" category="user_weight" placeholder="user" uuid={{ tag.uuid }} value={{ user_weights[tag.uuid] }}>
			<input type="text" class="input-sm set-tag-weight" category="tag_weight" placeholder="tag" uuid={{ tag.uuid }} value={{ tag_weights[tag.uuid] }}>
		</div>
		{% endfor %}
	</div>
	<hr class="featurette-divider">
		<h3>Set FLO votes</h3>
		{% for flo in flos %}
		<hr class="featurette-divider">
		<h4><a href="/flo?uuid={{ flo.uuid }}">{{ flo.title }}</a> (<a href="/flo?uuid={{ flo.schema_uuid }}">schema</a>)</h4>
		<div class="row">
			{% for tag in tags %}
			<div class="column-15p">
				<a class="tag-title" href="/flo?uuid={{ tag.uuid }}">{{ tag.title }}</a>
				<p>type: {{ tag.subtitle }}</p>
				<input type="text" class="input-sm set-tag-vote" category="vote_up" placeholder="up" uuid={{ flo.uuid }} tag_uuid={{ tag.uuid }} value={{ tag_votes[(flo.uuid,tag.uuid,'vote_up')] }}>
				<input type="text" class="input-sm set-tag-vote" category="vote_down" placeholder="down" uuid={{ flo.uuid }} tag_uuid={{ tag.uuid }} value={{ tag_votes[(flo.uuid,tag.uuid,'vote_down')] }}>
			</div>
			{% endfor %}
	</div>
{% endfor %}
</div>
{% endblock %}
