{% extends "templates/admin.html" %}

{% block admin_content %}

<div class="container">
	<script src="{{ url_for('static', filename = 'js/admin.js') }}"></script>
	
	<h3>User Lists</h3>
	{% for username in user_lists %}
	<hr class="featurette-divider">
	<h4>{{ display_names[username] }} AKA "{{ username }}"</h4>
	<div username="{{ username }}" class="reset-password-button button">Reset password</div>
	{% for user_list_name in user_lists[username] %}
	
	{% if user_lists[username][user_list_name] %}
	<p>{{ user_list_name }}</p>
	<ul>
		{% for uuid in user_lists[username][user_list_name] %}
		<li><a href="/flo?uuid={{ uuid }}">{{ titles[uuid] }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	
	{% endfor %}
	<hr class="featurette-divider">
	{% endfor %}

</div>

{% endblock %}
