{% extends "templates/admin.html" %}

{% block admin_content %}

<script src="{{ url_for('static', filename = 'js/admin.js') }}"></script>

<div class="container">
	<h3>FLOs with Zero Votes</h3>
	<div class="row">
		{% for flo in flos %}
		{% if flo.schema_uuid %}
		
		<div class="column-50p">
		<div class="plank">
		<p><a href="/flo?uuid={{ flo.uuid }}">{{ flo.title }}</a> (<a href="/flo?uuid={{ flo.schema_uuid }}">schema</a>)</p>
		<p> {{ flo.description }}</p>
		</div>
		</div>
		
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}
