{% macro render_change_password_plank(change_password_form,show_header=True) %}
{% from "macros/form.html" import render_field %}
<div class="modal-content plank">
    <div class="change-password-plank-body">
        {% if show_header %}
        <div class="modal-close-x">x</div>
        {% endif %}
        <h4>Change password</h4>
        <form method="POST" action="{{ url_for('views_blueprint.change_password') }}">
            {{ change_password_form.hidden_tag() }}
            <dl>
                {{ render_field(change_password_form.old_password) }}
                {{ render_field(change_password_form.new_password) }}
                {{ render_field(change_password_form.confirm) }}
            </dl>
            <div id="submit" class="button change-password-button">Submit</div>
        </form>
    </div>
</div>
{% endmacro %}