{% macro render_create_group_plank(create_group_form,show_header=True) %}
{% from "macros/form.html" import render_field %}
<div class="modal-content plank">
    {% if show_header %}
    <div class="modal-close-x">x</div>
    {% endif %}
    
    <h4>Create a Group</h4>
    <form method="POST" action="{{ url_for('views_blueprint.create_group') }}">
        {{ create_group_form.hidden_tag() }}
        <dl>
            {{ render_field(create_group_form.group_name) }}
        </dl>
        <div id="submit" class="button create-group-button">Create Group</div>
    </form>
    </span>
</div>
{% endmacro %}