{% macro render_field(field) %}
<div class="input-group">
	
	{% if field.data %}
	<dd>{{ field(placeholder=field.label.text,value=field.data,**kwargs)|safe }}
	{% else %}
	<dd>{{ field(placeholder=field.label.text,**kwargs)|safe }}
	{% endif %}
		
	{% if field.errors %}
	<ul class=errors>
		{% for error in field.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</dd>
</div>
{% endmacro %}
