{% macro render_join_group_plank(join_group_form,group_panel,show_header=True) %}
{% from "macros/form.html" import render_field %}
<div class="modal-content plank">
    {% if show_header %}
    <div class="modal-close-x">x</div>
    {% endif %}
    
    <h4 class="groups-header" style="color:#{{ group_panel.color }};">{{ group_panel.name }}</h4>
    <h4>Group Code</h4>
    <form method="POST" action="{{ url_for('views_blueprint.join_group') }}">
        {{ join_group_form.hidden_tag() }}
        <dl>
            {{ render_field(join_group_form.join_code) }}
        </dl>
        <div id="submit" class="button join-group-button">Join Group</div>
    </form>
    </span>
</div>
{% endmacro %}