{% macro render_login_plank(register_form,login_form,show_header=True) %}
{% from "macros/form.html" import render_field %}
<div class="modal-content plank">
    <div class="login-plank-body">
        {% if show_header %}
        <div class="modal-close-x">x</div>
        <div class="plank-prompt">You can login or register here.</div>
        {% endif %}
        <div class="bisected-plank">
            <span class="bisected-plank-left">
                <h4>Create a new account</h4>
                <form class="register-modal-form" method="POST" action="{{ url_for('views_blueprint.register') }}">
                    <p>By registering you agree to our <a href="{{ url_for('views_blueprint.sharing_policy') }}">Sharing Policy</a>.</p>
                    {{ register_form.hidden_tag() }}
                    <dl>
                        {{ render_field(register_form.username) }}
                        {{ render_field(register_form.password) }}
                        {{ render_field(register_form.confirm) }}
                        {{ render_field(register_form.email) }}
                    </dl>
                    
                    {% if USE_RECAPTCHA %}
                    <div id="g-recaptcha" class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
                    <div name="recaptcha"></div>
                    {% endif %}
                    <div id="submit" class="button register-button">Sign up</div>
                </form>
            </span>
            <span class="bisected-plank-right">
                <h4>Log in</h4>
                <form class="login-modal-form" method="POST" action="{{ url_for('views_blueprint.login') }}">
                    {{ login_form.hidden_tag() }}
                    <dl>
                        {{ render_field(login_form.username) }}
                        {{ render_field(login_form.password) }}
                    </dl>
                    <div id="submit" class="button login-button">Log in</div>
                </form>
            </span>
        </div>
    </div>
</div>
{% endmacro %}