{% macro render_mirrors(mirrors) %}
{% from "macros/flo_button.html" import render_flo_button %}

{% if mirrors %}
<div class="panel panel-green">
	<div class="panel-heading">
		<h3>Mirrors</h3>		
	</div>
	{% for mirror in mirrors %}
	<div class="mirror-panel-body" uuid="{{ mirror.mirror_for }}">
		{% if mirror.embed_url %}
		<div id="player-wrapper"><iframe width="760" height=450 src="{{ mirror.embed_url }}" frameborder=0 allowfullscreen></iframe></div>
		{% elif mirror.url %}
		<div class="mirror-left">
			<span class="plank-title"><a href="{{ mirror.url }}">{{ mirror.url_label }}</a></span>
			<p class="smallprint">{{ mirror.url }}</p>
		</div>
		
		{% if mirror.votes %}
		<div class="mirror-right">
			<div>Votes</div>
			<div class="smallprint">Is this a good mirror?</div>
			{% for vote_label in mirror.votes %}
			<div class="smallprint">{{ vote_label }} ({{ mirror.votes[vote_label] }})</div>
			{% endfor %}
		</div>
		{% endif %}
		
		{% else %}
		<p>No mirror URLs.</p>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endif %}

{% endmacro %}
