{% macro get_plank_template() %}
{% from "macros/flo_button.html" import render_flo_button %}
<!-- invisible plank template -->
<div id="plank-template" class="plank template" uuid="">
	<div class="plank-inner hidden-plank" style="display: none;">
		<p class="hidden-plank-text">This FLO has been hidden. <a class="unhide-plank-button">Unhide</a>.</p>
	</div>
	<div class="plank-inner unhidden-plank"  style="display: block;">
		<div class="plank-left">
			<div>
				{{ render_flo_button() }}
			</div>
			<div class="plank-thumbnail">
				<img src="">
			</div>
		</div>
		<div class="plank-center">
			<a class="plank-title" href="flo?uuid="></a>
			<p class="plank-schema-title smallprint"></p>
			<p class="plank-description"></p>
		</div>
		<div class="plank-right plank-tag-container">
			<div id="plank-tag-template" class="template">
				<div class="plank-tag-text"></div>
				<div class="plank-tag-bar">
					<div class="plank-tag-fill" style="width: 50%;">
						<p></p>
					</div>
					<div class="plank-tag-fill plank-tag-rfill" style="width: 50%;">
						<p></p>
					</div>
				</div>
			</div>
		<a class="text-center" href="/flo_tags?uuid=">More...</a>
		</div>
		
		<span class="plank-button plank-button-0 simple-tooltip icon ion-android-radio-button-off" list-name="in_progress">
			<span class="simple-tooltip-text">Add to 'in progress'</span>
		</span>
		<span class="plank-button plank-button-1 plank-button-hider simple-tooltip icon ion-android-checkmark-circle" list-name="completed">
			<span class="simple-tooltip-text">Add to 'completed'</span>
		</span>
		<span class="plank-button plank-button-2 simple-tooltip icon ion-android-favorite" list-name="favorites">
			<span class="simple-tooltip-text">Add to 'favorites'</span>
		</span>
		<span class="plank-button plank-button-3 plank-button-hider simple-tooltip icon ion-eye-disabled" list-name="hidden">
			<span class="simple-tooltip-text">Hide this FLO</span>
		</span>
		
	</div>
</div>

{% endmacro %}
