{% macro get_prompt_plank_template() %}
<!-- invisible prompt plank template -->
<div id="plank-prompt-template" class="prompt-plank plank template text-center">
	<div class="prompt-plank-wizard">
		{% set image_prefix = ('welcome','standing')|random %}
		<img alt="Cleo, the FLOcademy wizard." src="{{ url_for('static', filename = 'img/wizard/'+image_prefix+'-512.png') }}">		
	</div>
	<div class="prompt-title prompt"></div>
	<div class="prompt-subtitle"></div>
	<div class="prompt-button button"></div>
</div>
{% endmacro %}