{% macro get_question_plank_template() %}
{% from "macros/flo_button.html" import render_flo_button %}
<!-- invisible question plank template -->
<div id="question-template" class="question-plank plank template">
	<div class="question-left">
		{{ render_flo_button() }}		
		<div uuid="" stars="" class="star-panel text-center">
			<span class="star-icon icon "></span>
			<span class="star-icon icon"></span>
			<span class="star-icon icon"></span>
			<span class="star-icon icon"></span>
			<span class="star-icon icon"></span>
			<div class="star-text text-center"></div>
		</div>
		<div class="smallprint">
			<a class="previous-question-button">See previous question</a>
		</div>
		<div class="smallprint">
			<a class="see-all-questions-button">See all questions</a>
		</div>
	</div>
	<div class="question-center" uuid="">
		<div class="prompt text-center"></div>
		<div class="smallprint text-center">Answer questions to get better recommendations.</div>
		<div class="question-answers">
			<div id="answer-template" class="answer">
				<span class="answer-icon ion-android-radio-button-off"></span>
				<div class="answer-text"></div>
			</div>
		</div>
	</div>
	<div class="question-right">
		<span class="icon ion-help-circled simple-tooltip">
			<span class="simple-tooltip-text">
			</span>
		</span>
	</div>
</div>
{% endmacro %}
	
				
			
			