{% macro render_search_bar() %}
<form class="search-bar" action="/search" method="get">
    <input type="search" class="form-control" placeholder="Search" name="q">
    <span class="search-bar-span ion-android-search"></span>
</form>
{% endmacro %}