{% macro render_social_buttons() %}

<div class="social-media-buttons">
	
	<!-- facebook -->
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url | urlencode }}">
		<svg version="1.1" id="Facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve" width="50px" height="50px">
		<g>
			<rect id="facebook-back" fill="#3A5A99" width="128" height="128"/>
			<path id="facebook-facebook" fill="#FFFFFF" d="M95.8838,28.1602H32.1162c-2.1855,0-3.956,1.7705-3.956,3.956v63.7676
				c0,2.1846,1.7705,3.956,3.956,3.956h34.3301V72.082h-9.3408V61.2637h9.3408v-7.9776c0-9.2588,5.6543-14.2998,13.9141-14.2998
				c3.956,0,7.3554,0.2945,8.3466,0.4263v9.6753l-5.7275,0.0024c-4.4922,0-5.3613,2.1348-5.3613,5.2666v6.9068h10.7119L86.9355,72.082
				h-9.3173v27.7578h18.2656c2.1846,0,3.956-1.7714,3.956-3.956V32.1162C99.8398,29.9307,98.0684,28.1602,95.8838,28.1602z"/>
		</g>
		</svg>
	</a>
	
	
	<!-- twitter -->
	<a href="https://twitter.com/home?status={{ request.url | urlencode }}">
		<svg version="1.1" id="Twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve" width="50px" height="50px">
		<g>
			<rect id="twitter-back" fill="#55ACEE" width="128" height="128"/>
			<path id="twitter-twitter" fill="#FFFFFF" d="M99.8398,41.7695c-2.6367,1.17-5.4707,1.96-8.4462,2.3155
				c3.0361-1.8204,5.3681-4.7022,6.4658-8.1358c-2.8408,1.6846-5.9883,2.9092-9.3379,3.5684
				c-2.6826-2.8584-6.5049-4.6436-10.7344-4.6436c-8.1221,0-14.7065,6.584-14.7065,14.7051c0,1.1533,0.1303,2.2754,0.3808,3.3516
				c-12.2221-0.6133-23.0581-6.4678-30.311-15.3653c-1.2661,2.1719-1.9912,4.6983-1.9912,7.3936c0,5.1015,2.5962,9.6025,6.542,12.2402
				c-2.4107-0.0762-4.6783-0.7383-6.6607-1.8398c-0.0014,0.0615-0.0014,0.123-0.0014,0.1855c0,7.125,5.0693,13.0684,11.7968,14.4199
				c-1.2343,0.336-2.5337,0.5157-3.8745,0.5157c-0.9477,0-1.8691-0.0928-2.7671-0.2637c1.8716,5.8418,7.3028,10.0937,13.7378,10.2129
				c-5.0332,3.9443-11.374,6.2949-18.2641,6.2949c-1.187,0-2.3575-0.0693-3.5078-0.2051c6.5083,4.1729,14.2377,6.6065,22.5429,6.6065
				c27.0498,0,41.8418-22.4082,41.8418-41.8418c0-0.6377-0.0146-1.2715-0.0429-1.9024C95.375,47.3086,97.8691,44.7188,99.8398,41.7695
				z"/>
		</g>
		</svg>
	</a>
	
	
	<!-- google+  -->
	<a href="https://plus.google.com/share?url={{ request.url | urlencode }}">
		<svg version="1.1" id="Google_x2B_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
			 y="0px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve" width="50px" height="50px">
		<g>
			<rect id="google--back" fill="#DC4B3E" width="128" height="128"/>
			<g id="google--google-">
				<g>
					<path fill="#FFFFFF" d="M28.1738,64.0293c-0.4472-11.7427,9.8399-22.5938,21.5938-22.7354
						c5.9912-0.5112,11.8183,1.8145,16.3554,5.6114c-1.8603,2.0425-3.7558,4.0654-5.7744,5.9585
						c-3.9931-2.4253-8.7978-4.273-13.4619-2.6324c-7.5273,2.1426-12.0791,11.0259-9.2988,18.3877
						c2.3066,7.6856,11.6592,11.9043,18.9863,8.6739c3.7969-1.3575,6.294-4.8594,7.3916-8.6211
						c-4.3486-0.086-8.6992-0.0332-13.0478-0.1543c-0.0078-2.5869-0.0225-5.1626-0.0078-7.7505
						c7.2509-0.0108,14.5156-0.0317,21.7783,0.0347c0.4443,6.3369-0.4903,13.123-4.6094,18.2099
						c-5.6445,7.2637-16.0723,9.3946-24.5527,6.5469C34.5215,82.6016,27.9785,73.5332,28.1738,64.0293"/>
					<path fill="#FFFFFF" d="M86.8232,54.2437h6.4698c0.0107,2.1645,0.0312,4.3374,0.042,6.5024
						c2.165,0.021,4.3398,0.0298,6.5048,0.0439v6.4795c-2.165,0.0098-4.3398,0.0215-6.5048,0.0313
						c-0.0186,2.1738-0.0313,4.3388-0.042,6.5137c-2.1641-0.0098-4.3291,0-6.4825,0c-0.0214-2.1749-0.0214-4.3399-0.041-6.502
						c-2.164-0.0215-4.3398-0.0332-6.5009-0.043V60.79c2.1611-0.0141,4.3242-0.0229,6.5009-0.0439
						C86.7803,58.5811,86.8018,56.4082,86.8232,54.2437"/>
				</g>
			</g>
		</g>
		</svg>
	</a>
	
	
	
	<!--   linkedin -->
	<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.url | urlencode }}">
		<svg version="1.1" id="Linkedin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve" width="50px" height="50px">
		<g>
			<rect id="linkedin-back" fill="#0076B2" width="128" height="128"/>
			<g id="linkedin-linkedin">
				<path fill="#FFFFFF" d="M29.0752,51.7471h14.8686v47.792H29.0752V51.7471z M36.5137,27.9897c4.7514,0,8.6089,3.8589,8.6089,8.6133
					c0,4.7554-3.8575,8.6143-8.6089,8.6143c-4.7705,0-8.6172-3.8589-8.6172-8.6143C27.8965,31.8486,31.7432,27.9897,36.5137,27.9897"
					/>
				<path fill="#FFFFFF" d="M53.2622,51.7471H67.5v6.5337h0.2041c1.9805-3.7574,6.8272-7.7198,14.0537-7.7198
					c15.0391,0,17.8184,9.896,17.8184,22.7671v26.211H84.7246V76.2979c0-5.542-0.0957-12.6719-7.7187-12.6719
					c-7.7286,0-8.9082,6.04-8.9082,12.2754v23.6377H53.2622V51.7471z"/>
			</g>
		</g>
		</svg>	
	</a>
	
	<!-- email -->
	<a href="mailto:?&body={{ request.url | urlencode }}">
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 128 128" height="50" width="50" inkscape:version="0.91 r13725">
	  <defs id="defs4" />
	  <g
		 id="layer1"
		 transform="translate(-341.54284,-408.3622)">
		<g
		   transform="translate(341.71429,408.3622)"
		   id="g4137">
		  <rect
			 style="fill:#e52d27"
			 y="0"
			 x="0"
			 id="email-back"
			 width="128"
			 height="128" />
		  <path
			 style="fill:#ffffff"
			 id="email-email"
			 d="m 99.8398,78.3359 c 0,5.6319 -4.6084,10.2403 -10.2402,10.2403 l -51.2002,0 c -5.6318,0 -10.2392,-4.6084 -10.2392,-10.2403 l 0,-28.6718 c 0,-5.6319 4.6074,-10.2403 10.2392,-10.2403 l 51.2002,0 c 5.6318,0 10.2402,4.6084 10.2402,10.2403 z"
			 inkscape:connector-curvature="0" />
		  <rect
			 transform="matrix(0.46386084,0.88590808,-0.88590808,0.46386084,0,0)"
			 y="-98.72271"
			 x="83.797813"
			 height="72.142853"
			 width="3.3928561"
			 id="rect4155"
			 style="fill:#e52d27;fill-opacity:1" />
		  <rect
			 transform="matrix(0.46386084,-0.88590808,-0.88590808,-0.46386084,0,0)"
			 y="-86.661911"
			 x="-28.09894"
			 height="72.142853"
			 width="3.3928561"
			 id="rect4155-5"
			 style="fill:#e52d27;fill-opacity:1" />
		</g>
	  </g>
	</svg>
	</a>
	
	<a href="https://www.reddit.com/submit?url={{ request.url | urlencode }}">
		<svg version="1.1" id="Reddit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve" height="50" width="50">
		<g id="reddit-reddit">
			<rect id="reddit-back" fill="#cee3f8" width="128" height="128"/>
			<g id="reddit-reddit_1_">
				<path fill="#000000" d="M58.7402,50.5146c0-2.4624-2.0039-4.4663-4.4668-4.4663c-2.4619,0-4.4648,2.0039-4.4648,4.4663
					c0,2.462,2.0029,4.4654,4.4648,4.4654C56.7363,54.98,58.7402,52.9766,58.7402,50.5146z"/>
				<path fill="#000000" d="M73.7217,46.0464c-2.4639,0-4.4678,2.0044-4.4678,4.4682c0,2.4634,2.0039,4.4673,4.4678,4.4673
					c2.4648,0,4.4697-2.0039,4.4697-4.4673C78.1914,48.0508,76.1865,46.0464,73.7217,46.0464z"/>
				<path fill="#000000" d="M72.6602,61.4458c-1.6866,1.6851-4.544,2.5039-8.6612,2.5039c-4.1181,0-6.9736-0.8188-8.6582-2.5029
					c-0.4844-0.4844-1.2695-0.4849-1.7539-0.0005c-0.4844,0.4849-0.4844,1.27,0,1.7544c2.1729,2.1733,5.6026,3.23,10.4121,3.23
					c4.8076,0,8.2383-1.0567,10.4141-3.2295c0.4853-0.4839,0.4853-1.2696,0.0019-1.7539
					C73.9307,60.9629,73.1455,60.9619,72.6602,61.4458z"/>
				<path fill="#000000" d="M96.2588,45.6489c0-4.0444-3.29-7.3349-7.334-7.3349c-1.8662,0-3.5703,0.7026-4.8652,1.8554
					c-4.9756-3.2055-11.4102-5.0805-18.2979-5.3549l3.7803-11.9532l10.2842,2.42c0.0195,3.3159,2.7217,6.0073,6.041,6.0073
					c3.334,0,6.0469-2.7115,6.0469-6.044c0-3.333-2.7129-6.0444-6.0469-6.0444c-2.4815,0-4.6172,1.5044-5.5469,3.6489l-11.3291-2.6665
					c-0.6328-0.1494-1.2715,0.2144-1.4678,0.833l-4.3564,13.773c-7.2373,0.1357-14.0293,2.0307-19.2266,5.3799
					c-1.2959-1.1524-2.999-1.8545-4.8652-1.8545c-4.0439,0-7.335,3.2905-7.335,7.3349c0,2.6734,1.4385,5.0157,3.5821,6.2974
					c-0.1094,0.687-0.166,1.3823-0.166,2.084c0,5.2446,3.0712,10.1372,8.6474,13.7773c1.7744,1.1582,3.7402,2.1416,5.8467,2.9463
					c-4.1123,1.9609-7.0234,6.7324-7.0234,12.2949c0,6.2842,3.7148,11.5567,8.6796,12.9092c0.3877,1.21,0.8184,2.3613,1.2881,3.4463
					c-0.2285-0.0166-0.459-0.0283-0.6924-0.0283c-4.4638,0-8.0947,3.0488-8.0947,6.7959c0,0.5605,0.0987,1.1396,0.3037,1.7695
					c0.1651,0.5117,0.6416,0.8584,1.1797,0.8584h37.2344c0.5439,0,1.0234-0.3525,1.1846-0.8711
					c0.2021-0.6494,0.2959-1.207,0.2959-1.7568c0-3.7471-3.6329-6.7959-8.0987-6.7959c-0.167,0-0.333,0.0049-0.497,0.0136
					c0.4677-1.08,0.8964-2.2275,1.2822-3.4306c4.9648-1.3526,8.6797-6.626,8.6797-12.9102c0-5.5625-2.9112-10.3349-7.0235-12.2959
					c2.1055-0.8037,4.0723-1.7881,5.8457-2.9453c5.5772-3.6401,8.6485-8.5327,8.6485-13.7773c0-0.7017-0.0567-1.397-0.1651-2.084
					C94.8203,50.6646,96.2588,48.3223,96.2588,45.6489z M89.4326,25.2446c0,1.9644-1.5996,3.563-3.5654,3.563
					c-1.9639,0-3.5615-1.5986-3.5615-3.563c0-1.9648,1.5976-3.5639,3.5615-3.5639C87.833,21.6807,89.4326,23.2798,89.4326,25.2446z
					 M81.5254,106.1719c0,0.0478-0.002,0.0976-0.0049,0.1474H71.0107c1.1163-1.1533,2.1446-2.5761,3.0655-4.2207
					c0.5742-0.1533,1.1884-0.2412,1.831-0.2412C79.0049,101.8574,81.5254,103.793,81.5254,106.1719z M51.9023,101.8574
					c0.7247,0,1.417,0.1065,2.0528,0.2998c0.9131,1.6201,1.9287,3.0225,3.0322,4.1621H46.293
					c-0.003-0.0498-0.0049-0.0986-0.0049-0.1474C46.2881,103.793,48.8066,101.8574,51.9023,101.8574z M67.0693,106.3193h-6.1416
					c-5.5156-3.1572-9.4892-14.165-9.4892-26.4072c0-2.8916,0.2217-5.6943,0.626-8.335c3.6992,1.1172,7.749,1.7081,11.9345,1.7081
					c4.1846,0,8.2354-0.5918,11.9365-1.709c0.4043,2.6406,0.626,5.4443,0.626,8.3359
					C76.5615,92.1533,72.5859,103.1611,67.0693,106.3193z M49.2568,73.8828c-0.1943,1.9434-0.2998,3.957-0.2998,6.0293
					c0,4.6504,0.5401,9.0996,1.5127,13.0742c-3.1455-1.625-5.3613-5.4658-5.3613-9.9375
					C45.1084,79.1777,46.7705,75.7813,49.2568,73.8828z M77.5293,92.9873c0.9736-3.9756,1.5127-8.4248,1.5127-13.0752
					c0-2.0723-0.1055-4.0859-0.2998-6.0293c2.4873,1.8975,4.1494,5.2949,4.1494,9.166
					C82.8916,87.5205,80.6748,91.3623,77.5293,92.9873z M63.999,70.8047c-14.5361,0-26.3613-7.5249-26.3613-16.7744
					c0-9.249,11.8252-16.7735,26.3613-16.7735c14.5362,0,26.3633,7.5245,26.3633,16.7735
					C90.3623,63.2798,78.5352,70.8047,63.999,70.8047z M39.0752,40.7949c1.0283,0,1.9824,0.3228,2.7676,0.8706
					c-2.833,2.2559-4.8194,4.8863-5.8555,7.7217c-1.0771-0.8906-1.7656-2.2344-1.7656-3.7383
					C34.2217,42.9727,36.3984,40.7949,39.0752,40.7949z M86.1563,41.6665c0.7851-0.5488,1.7392-0.8716,2.7685-0.8716
					c2.6758,0,4.8535,2.1778,4.8535,4.854c0,1.5039-0.6894,2.8477-1.7666,3.7383C90.9756,46.5522,88.9893,43.9219,86.1563,41.6665z"/>
			</g>
		</g>
		</svg>
	</a>

</div>


{% endmacro %}
