{% macro render_verify_email_plank(verify_email_form,show_header=True) %}
{% from "macros/form.html" import render_field %}
<div class="modal-content plank">
    <div class="verify-email-plank-body">
        {% if show_header %}
        <div class="modal-close-x">x</div>
        {% endif %}
        <h4>Verify email</h4>
        <form method="POST" action="{{ url_for('views_blueprint.verify_email') }}">
            {{ verify_email_form.hidden_tag() }}
            <dl>
                {{ render_field(verify_email_form.password) }}
                {{ render_field(verify_email_form.email) }}
            </dl>
            <div id="submit" class="button set-email-button">Send verification email</div>
        </form>
    </div>
</div>
{% endmacro %}