{% extends "templates/base.html" %}

{% block base_content %}

<div class="thin-container">
	<div class="plank">
		<h2>Admin Navigation</h2>
		<p><a href="/admin">Admin home</a></p>
		<p><a href="/admin/flo_map">FLO map</a></p>
		<p><a href="/" >Home</a></p>
		<p><a href="/admin/tag_voting">Set tag votes</a></p>
		<p><a href="/admin/user_lists">User lists</a></p>
		<p><a href="/admin/zero_vote_flos">Zero vote FLOs</a></p>
	</div>
</div>

{% block admin_content %}{% endblock %}

{% endblock %}
