{% from "macros/icons_head.html" import render_icons_head %}

<!DOCTYPE html>
	<html>
		<head>
			{% if title %}
			<title>FLOcademy - {{title}}</title>
			{% else %}
			<title>FLOcademy - Free learning object recommendations for learners and educators</title>
			{% endif %}			
			<meta name="description" content="{{ description }}">
			
			<script src="https://code.jquery.com/jquery-latest.js"></script>
			
			<link href="{{ url_for('static', filename = 'css/flocademy.css') }}" rel="stylesheet" media="screen">
			<link href="{{ url_for('static', filename = 'css/ionicons.css') }}" rel="stylesheet" media="screen">
			
			{{ render_icons_head() }}	
			<meta name="apple-mobile-web-app-title" content="FLOcademy">
			<meta name="application-name" content="FLOcademy">
			<meta name="theme-color" content="#f7f7f7">
			
			<script src="{{ url_for('static', filename = 'js/utilities.js') }}"></script>
			<script src="{{ url_for('static', filename = 'js/plank.js') }}"></script>
			<script src="{{ url_for('static', filename = 'js/render.js') }}"></script>
			<script src="{{ url_for('static', filename = 'js/stars.js') }}"></script>
			<script src="{{ url_for('static', filename = 'js/user.js') }}"></script>
			<script src="{{ url_for('static', filename = 'js/modals.js') }}"></script>
			<script src="{{ url_for('static', filename = 'js/document_ready.js') }}"></script>
			<script src='https://www.google.com/recaptcha/api.js'></script>
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script>
				//Pass Python/Jinja data to javascript.	This cannot be a js file because jinja needs to fill it in.				
				SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; //The root of the web URL
				URL_FOR_STATIC = {{ url_for('static', filename='')|tojson|safe }};
				
				{% if DEFAULT %}
				DEFAULT_FEED_LENGTH = {{ DEFAULT.FEED_LENGTH }};
				{% else %}
				DEFAULT_FEED_LENGTH = 0;
				{% endif %}
				
				//Booleans
				IS_ANONYMOUS = {% if current_user.is_anonymous %}true{% else %}false{% endif %};				
				SHOW_WELCOME_PROMPT = {% if show_welcome_prompt %}true{% else %}false{% endif %};
				SHOW_EXPLORE_PROMPT = {% if show_explore_prompt %}true{% else %}false{% endif %};
				
				//Data
				PLANK_DATA_JSONS=[
					{% for plank_data_json in plank_data_jsons %}
					{{ plank_data_json|tojson|safe }},
					{% endfor %}
				];				
				QUESTION_PLANKS=[
					{% for plank in question_plank_jsons %}{{ plank|tojson|safe }},
					{% endfor %}
				]
			</script>
			
			<script>
				//Google Analytics
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				
				  ga('create', 'UA-47671004-3', 'auto');
				  ga('send', 'pageview');
			</script>
		</head>
		<body>
			
			<div class="not-footer"> <!-- everything except the footer so we can apply 100% minimum height for short pages. -->
				
			<!-- confirm modal, a generic yes/cancel prompt -->
			<div id="confirm-modal" class="modal">
				<div class="modal-content plank">
					<div class="login-plank-body">
						<div class="modal-close-x modal-close">x</div>
						<div id="confirm-modal-title" class="plank-prompt">Are you sure?</div>
						<div class="bisected-plank">
							<span class="bisected-plank-left">
								<div id="confirm-modal-button-yes" class="modal-close button">Yes</div>
							</span>
							<span class="bisected-plank-right">
								<div id="confirm-modal-button-cancel" class="modal-close button">Cancel</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			{% if not skip_login_and_register_modal %}
				{% if login_form and register_form %}
				<div id="login-modal" class="modal">
				{% from "macros/login_plank.html" import render_login_plank with context %}
				{{ render_login_plank(register_form,login_form) }}
				</div>
				{% endif %}
				
				{% if join_group_form %}
				<div id="join-group-modal" class="modal">
				{% from "macros/join_group_plank.html" import render_join_group_plank %}
				{{ render_join_group_plank(join_group_form,0) }}
				</div>
				{% endif %}
			{% endif %}
			
			{% if create_group_form %}
			<div id="create-group-modal" class="modal">
			{% from "macros/create_group_plank.html" import render_create_group_plank %}
			{{ render_create_group_plank(create_group_form) }}
			</div>
			{% endif %}
			
			{% if change_password_form %}
			<div id="change-password-modal" class="modal">
			{% from "macros/change_password_plank.html" import render_change_password_plank %}
			{{ render_change_password_plank(change_password_form) }}
			</div>
			{% endif %}
			
		{% if show_version %}
		<div style="position: absolute; left: 30px; top: 10px;">
			<a href="/admin" >admin</a>
			<p>{{ VERSION }}</p>
		</div>	
		{% endif %}
		
		{% if not skip_login_and_register_modal %}
			{% if current_user.is_authenticated %}
			<p class="login-register-navigation-buttons"><a href="/user/{{ current_user.username }}">{{ current_user.username }}</a> <a href="/logout">logout</a></p>
			{% elif login_form and register_form %}
			<p class="login-register-navigation-buttons"><a href="#" class="login-modal-summoner">Login</a> or <a href="#" class="login-modal-summoner">Register</a></p>
			{% endif %}
		{% endif %}
		
		{% block base_content %}{% endblock %}
		
		<div class="footer-push"></div>
		</div>
		</div> <!-- end the not-footer -->
		
		{% if use_social_buttons %}
		{% from "macros/social_buttons.html" import render_social_buttons with context %}
		{{ render_social_buttons() }}
		{% endif %}
		
		<div class="footer">
			<div class="thin-container">				
				<div class="footer-left">
					<img class="footer-logo" src="{{ url_for('static', filename = 'img/flocademy-256.png') }}">
					<p>FLOcademy is a Montreal, Québec based non-profit that helps educators share and use education data.</p>
				</div>
				<div class="footer-right">
					<ul class="list-unstyled">
						<li><a href="{{ url_for('views_blueprint.about_page') }}">About</a></li>
						<li><a href="https://www.reddit.com/r/FLOcademy/">Community</a></li>
						<li><a href="{{ url_for('views_blueprint.sharing_policy') }}">Legal</a></li>
						<li><a href="{{ url_for('views_blueprint.data_page') }}">Data</a></li>
						<li><a href="{{ url_for('views_blueprint.contact_page') }}">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		</body>
	</html>
	
				
								
													
	
	
	
	
	
	
	
	
	