{% from "macros/icons_head.html" import render_icons_head %}

<!DOCTYPE html>
	<html>
		<head>
			{% if title %}
			<title>FLOcademy - {{title}}</title>
			{% else %}
			<title>FLOcademy - Free learning object recommendations for learners and educators</title>
			{% endif %}
			
			<meta name="description" content="{{ description }}">			
			<link href="{{ url_for('static', filename = 'css/flocademy.css') }}" rel="stylesheet" media="screen">
			
			{{ render_icons_head() }}
			<meta name="apple-mobile-web-app-title" content="FLOcademy">
			<meta name="application-name" content="FLOcademy">
			<meta name="theme-color" content="#f7f7f7">
									
			<script>
				//Google Analytics
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				
				  ga('create', 'UA-47671004-3', 'auto');
				  ga('send', 'pageview');
			</script>
		</head>
		<body>
			<div class="wizard-error-page">
				{% block error_content %}{% endblock %}
			</div>
		</body>
	</html>
	
				
								
													
	
	
	
	
	
	
	
	
	