<!-- extend base layout -->
{% extends "navigation/template.html" %}
{% block page_content %}
{% set image_prefix = ('stop','unauthorized')|random %}
<img alt="Cleo, the FLOcademy wizard telling you to stop." src="{{ url_for('static', filename = 'img/wizard/'+image_prefix+'-512.png') }}">		
<h2>Speak, friend, and enter.</h2>
<p>Cleo can't let you through this door because she isn't sure who you are.</p>
<p><a href="{{ url_for('views_blueprint.recommend_page') }}">Warp back home.</a>
{% endblock %}
