<!-- extend base layout -->
{% extends "templates/error.html" %}

{% block error_content %}

{% set image_prefix = ('stop','unauthorized')|random %}
<img alt="Cleo, the FLOcademy wizard telling you to stop." src="{{ url_for('static', filename = 'img/wizard/'+image_prefix+'-512.png') }}">		
<h2>Invisible Wall</h2>
<p>You probably aren't supposed to be here, so Cleo has conjured an invisible wall to block your way.</p>
<p><a href="{{ url_for('views_blueprint.recommend_page') }}">Warp back home.</a>

{% endblock %}
