<!-- extend base layout -->
{% extends "templates/error.html" %}

{% block error_content %}

{% set image_prefix = ('confused','apologetic')|random %}
<img alt="Cleo, the FLOcademy wizard looking {{ image_prefix }}." src="{{ url_for('static', filename = 'img/wizard/'+image_prefix+'-512.png') }}">		
<h2>Lost in another realm...</h2>
<p>Cleodamas isn't sure what you're looking for. Maybe it's lost in another realm.</p>
<p><a href="{{ url_for('views_blueprint.recommend_page') }}">Warp back home.</a>

{% endblock %}
