<!-- extend base layout -->
{% extends "templates/error.html" %}

{% block error_content %}
	
{% set image_prefix = ('stop','unauthorized')|random %}
<img alt="Cleo, the FLOcademy wizard telling you to slow down!" src="{{ url_for('static', filename = 'img/wizard/'+image_prefix+'-512.png') }}">
<h2>Too many requests.</h2>
<p>Cleo has decided you need to wait a little bit before trying again. Even tech wizards have their limits.</p>
<p><a href="{{ url_for('views_blueprint.recommend_page') }}">Warp back home.</a>

{% endblock %}
