<!-- extend base layout -->
{% extends "templates/error.html" %}

{% block error_content %}
	
{% set image_prefix = ('apologetic','defeated', 'confused')|random %}
<img alt="Cleo, the FLOcademy wizard looking {{ image_prefix }}." src="{{ url_for('static', filename = 'img/wizard/'+image_prefix+'-512.png') }}">		
<h2>Uh oh!</h2>
<p>An evil force is preventing Cleo from conjuring this page!</p>
<p>The error has been logged and Zulban has been notified. Error ID: {{ error_id }}</p>
<p><a href="{{ url_for('views_blueprint.recommend_page') }}">Warp back home.</a>

{% endblock %}
